In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
pd.options.display.float_format="{:,.0f}".format

In [2]:
Population9 = "resources/population2009.csv"
population09 = pd.read_csv(Population9)

population09.head(5)
#open csv

,State,1-Jul-09,1-Jul-08,1-Jul-07,1-Jul-06,1-Jul-05,1-Jul-04,1-Jul-03,1-Jul-02
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194"

In [3]:
Population13 = "resources/poppulation2013.csv"
population013 = pd.read_csv(Population13,encoding="cp1252")

In [4]:
pop13 = population013[["State","2010","2011","2012","2013"]]

pop13.head(5)

        State        2010        2011        2012        2013
0     Alabama   4,785,161   4,801,108   4,816,089   4,830,533
1      Alaska     714,021     722,720     731,228     737,442
2     Arizona   6,408,208   6,468,732   6,553,262   6,630,799
3    Arkansas   2,922,394   2,938,538   2,949,499   2,957,957
4  California  37,334,079  37,700,034  38,056,055  38,414,128

In [5]:
dict = {"1-Jul-09": "2009","1-Jul-08":"2008","1-Jul-07":"2007",
        "1-Jul-06":"2006","1-Jul-05":"2005","1-Jul-04":"2004","1-Jul-03":"2003","1-Jul-02":"2002"}
pop09 = population09.rename(columns = dict)

pop09.head(5)

,State,2009,2008,2007,2006,2005,2004,2003,2002
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194"

In [6]:
Population = pd.merge(pop09,pop13, how="inner", on="State")

Population.head(50)

,State,2009,2008,2007,2006,2005,2004,2003,2002,2010,2011,2012,2013
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420","4,785,161","4,801,108","4,816,089","4,830,533"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691","714,021","722,720","731,228","737,442"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108","6,408,208","6,468,732","6,553,262","6,630,799"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732","2,922,394","2,938,538","2,949,499","2,957,957"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194","37,334,079","37,700,034","38,056,055","38,414,128"
5,Colorado,"5,024,748","4,935,213","4,842,259","4,753,044","4,660,780","4,599,681","4,548,775","4,504,265","5,048,254","5,119,480","5,191,731","5,271,132"
6,Connecticut,"3,518,288","3,502,932","3,488,633","3,485,162","3,477,416","3,474,610","3,467,673","3,448,382","3,579,717","3,589,759","3,593,541","3,597,168"
7,Delaware,"885,122","876,211","864,896","853,022","839,906","826,639","814,905","804,131","899,791","907,916","917,099","925,353"
8,District of Columbia,"599,657","590,074","586,409","583,978","582,049","579,796","577,777","579,585","605,126","620,472","635,342","649,540"
9,Florida,"18,537,969","18,423,878","18,277,888","18,088,505","17,783,868","17,375,259","16,981,183","16,680,309","18,849,890","19,105,533","19,352,021","19,594,467"
10,Georgia,"9,829,211","9,697,838","9,533,761","9,330,086","9,097,428","8,913,676","8,735,259","8,585,535","9,713,454","9,812,280","9,917,639","9,991,562"
11,Hawaii,"1,295,178","1,287,481","1,276,832","1,275,599","1,266,117","1,252,782","1,239,298","1,228,069","1,363,980","1,378,227","1,392,641","1,408,765"
12,Idaho,"1,545,801","1,527,506","1,499,245","1,464,413","1,425,862","1,391,718","1,364,109","1,342,149","1,570,986","1,584,134","1,596,097","1,612,785"
13,Illinois,"12,910,409","12,842,954","12,779,417","12,718,011","12,674,452","12,645,295","12,597,981","12,558,229","12,841,249","12,861,882","12,875,167","12,889,580"
14,Indiana,"6,423,113","6,388,309","6,346,113","6,301,700","6,253,120","6,214,454","6,181,789","6,149,007","6,490,590","6,516,845","6,538,283","6,570,518"
15,Iowa,"3,007,856","2,993,987","2,978,719","2,964,391","2,949,450","2,941,358","2,932,799","2,929,264","3,050,694","3,065,389","3,076,636","3,092,224"
16,Kansas,"2,818,747","2,797,375","2,775,586","2,755,700","2,741,771","2,730,765","2,721,955","2,712,598","2,858,824","2,869,917","2,886,281","2,894,630"
17,Kentucky,"4,314,113","4,287,931","4,256,278","4,219,374","4,182,293","4,147,970","4,118,627","4,091,330","4,347,937","4,367,882","4,382,667","4,398,500"
18,Louisiana,"4,492,076","4,451,513","4,376,122","4,240,327","4,497,691","4,489,327","4,474,726","4,466,068","4,544,951","4,575,381","4,603,676","4,627,491"
19,Maine,"1,318,301","1,319,691","1,317,308","1,314,963","1,311,631","1,308,253","1,303,102","1,293,938","1,327,695","1,328,257","1,328,888","1,328,778"
20,Maryland,"5,699,478","5,658,655","5,634,242","5,612,196","5,582,520","5,542,659","5,496,708","5,439,913","5,788,409","5,844,171","5,890,740","5,936,040"
21,Massachusetts,"6,593,587","6,543,595","6,499,275","6,466,399","6,453,031","6,451,279","6,451,637","6,440,978","6,565,036","6,611,797","6,657,780","6,708,810"
22,Michigan,"9,969,727","10,002,486","10,050,847","10,082,438","10,090,554","10,089,305","10,066,351","10,038,767","9,877,369","9,876,589","9,886,879","9,900,506"
23,Minnesota,"5,266,214","5,230,567","5,191,206","5,148,346","5,106,560","5,079,344","5,047,862","5,017,458","5,310,903","5,348,119","5,380,443","5,420,541"
24,Mississippi,"2,951,996","2,940,212","2,921,723","2,897,150","2,900,116","2,886,006","2,867,678","2,858,643","2,970,316","2,977,999","2,985,660","2,990,976"
25,Missouri,"5,987,580","5,956,335","5,909,824","5,861,572","5,806,639","5,758,444","5,714,847","5,680,852","5,996,052","6,010,587","6,025,468","6,043,708"
26,Montana,"974,989","968,035","957,225","946,230","934,801","925,887","916,750","909,868","990,643","997,746","1,005,157","1,014,402"
27,Nebraska,"1,796,619","1,781,949","1,769,912","1,760,435","1,751,721","1,742,184","1,733,680","1,725,083","1,830,025","1,842,383","1,855,973","1,869,300"
28,Nevada,"2,643,085","2,615,772","2,567,752","2,493,405","2,408,804","2,328,703","2,236,949","2,166,214","2,703,440","2,718,819","2,754,874","2,790,366"
29,New Hampshire,"1,324,575","1,321,872","1,317,343","1,311,894","1,301,415","1,292,766","1,281,871","1,271,163","1,316,708","1,318,344","1,321,393","1,322,660"
30,New Jersey,"8,707,739","8,663,398","8,636,043","8,623,721","8,621,837","8,611,530","8,583,481","8,544,115","8,803,881","8,842,934","8,874,893","8,907,384"
31,New Mexico,"2,009,671","1,986,763","1,968,731","1,942,608","1,916,538","1,891,829","1,869,683","1,850,035","2,064,741","2,078,226","2,084,792","2,086,890"
32,New York,"19,541,453","19,467,789","19,422,777","19,356,564","19,330,891","19,297,933","19,231,101","19,161,873","19,402,920","19,523,202","19,606,981","19,691,032"
33,North Carolina,"9,380,884","9,247,134","9,064,074","8,866,977","8,669,452","8,531,283","8,416,451","8,316,617","9,558,979","9,651,025","9,747,021","9,845,432"
34,North Dakota,"646,844","641,421","638,202","636,771","635,365","636,303","632,809","633,617","674,530","685,326","702,265","723,626"
35,Ohio,"11,542,645","11,528,072","11,520,815","11,492,495","11,475,262","11,464,593","11,445,180","11,420,981","11,540,766","11,545,442","11,551,783","11,572,232"
36,Oklahoma,"3,687,050","3,644,025","3,612,186","3,574,334","3,532,769","3,514,449","3,498,687","3,484,754","3,759,596","3,786,626","3,817,679","3,853,405"
37,Oregon,"3,825,657","3,782,991","3,732,957","3,677,545","3,617,869","3,573,505","3,550,180","3,517,111","3,837,972","3,868,509","3,899,444","3,928,030"
38,Pennsylvania,"12,604,767","12,566,368","12,522,531","12,471,142","12,418,161","12,388,368","12,357,524","12,326,302","12,712,014","12,745,202","12,772,789","12,783,536"
39,Rhode Island,"1,053,209","1,053,502","1,055,009","1,060,196","1,064,989","1,071,414","1,071,504","1,066,034","1,053,219","1,051,856","1,052,393","1,052,856"
40,South Carolina,"4,561,242","4,503,280","4,424,232","4,339,399","4,256,199","4,201,306","4,146,474","4,103,934","4,635,894","4,672,733","4,721,341","4,768,498"
41,South Dakota,"812,383","804,532","797,035","788,519","780,084","774,283","766,975","762,107","816,299","824,289","834,631","845,270"
42,Tennessee,"6,296,254","6,240,456","6,172,862","6,089,453","5,995,748","5,916,762","5,856,522","5,803,306","6,356,585","6,398,408","6,455,469","6,496,130"
43,Texas,"24,782,302","24,304,290","23,837,701","23,369,024","22,801,920","22,418,319","22,057,801","21,710,788","25,244,363","25,654,464","26,089,741","26,500,674"
44,Utah,"2,784,572","2,727,343","2,663,796","2,583,724","2,499,637","2,438,915","2,379,938","2,334,473","2,775,426","2,816,440","2,856,343","2,903,685"
45,Vermont,"621,760","621,049","620,460","619,985","618,814","618,145","616,559","614,950","625,984","626,687","626,398","627,129"
46,Virginia,"7,882,590","7,795,424","7,719,749","7,646,996","7,563,887","7,468,914","7,373,694","7,283,541","8,025,787","8,110,783","8,193,374","8,267,875"
47,Washington,"6,664,195","6,566,073","6,464,979","6,372,243","6,261,282","6,184,289","6,113,262","6,056,187","6,743,060","6,823,229","6,897,292","6,973,281"
48,West Virginia,"1,819,777","1,814,873","1,811,198","1,807,237","1,803,920","1,803,302","1,802,238","1,799,411","1,854,225","1,854,948","1,856,283","1,852,985"
49,Wisconsin,"5,654,774","5,627,610","5,601,571","5,571,680","5,541,443","5,511,385","5,476,796","5,446,766","5,690,204","5,709,720","5,726,422","5,743,653"

In [7]:
Population.columns

Index(['State', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002',
       '2010', '2011', '2012', '2013'],
      dtype='object')

In [8]:
Population["State"].tolist

<bound method IndexOpsMixin.tolist of 0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
51             Puerto Rico
Name: State, dtype: object>

In [9]:
cols = [2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002',
       '2010', '2011', '2012', '2013']
labels = Population["State"]

SyntaxError: invalid syntax (<ipython-input-9-f9df027fd8e1>, line 1)

In [ ]:
highest_pop_state = Pop["Population"].max()

highest_pop_state

In [ ]:
labels = ["2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013"]

y = pie1_NC_grad100 = by_year["pecentage of grad_100"]

colors = ["Aquamarine","Pink", "Salmon","Coral", "Turquoise","Red", "Cyan",
          "Gold","Blue","Brown","Green","yellow"]

explode = (0,0,0,0,0,0,0,0.07,0,0,0,0.05)

plt.pie(y, explode=explode, colors = colors, labels=labels,
autopct='%1.2f%%', shadow=True, startangle=180)

plt.title(label="Grade_100 Percentage per year",loc="center",fontstyle='italic')

plt.tight_layout()

plt.show()

In [ ]:
lowest_pop_state = Pop["Population"].min()

lowest_pop_state

In [ ]:
"Amber", "Beige", "Citrine","Olive", "Goldenrod", "Saffron","Chartreuse", "Ecru","Sunglow","Aureolin","Emerald","Lime"
"Malachite"

"Sage"  "Pistachio"
Turquoise

Honeydew